{% extends "layout.html" %}

{% block content %}

{% include "components/header.html" %}
{% include "components/export_button.html" %}

<div class="grid grid-cols-1 lg:grid-cols-12 gap-6">

    <div class="lg:col-span-4 space-y-6">
        {% include "components/ml_sector.html" %} {% include "components/vix_card.html" %}
        {% include "components/tactical_qqq.html" %}
        {% include "components/sector_table.html" %}
    </div>

    <div class="lg:col-span-8 space-y-6">
        {% include "components/momentum_trends.html" %}
        {% include "components/rotation_maps.html" %}
    </div>

</div>

{% endblock %}
